<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
</head>
<body>

<!--<div id="header">
  <span class='big'>{{ site.title }}</span>
  <span class='small'>{{ site.subtitle }}</span>
</div>-->
<div id="layer_fixed_bg">
</div>
<div id="layer_fixed">
  <table width="100%" style="border-collapse: collapse; margin: 0px;">
    <tr>
      <td style="padding: 0px;">
        <span class='layer_title'>{{ site.title }}</span>
      </td>

      <td align="right" style="padding: 0px;">
        <div id="nav_menu">
          <ul>
            <li><a href="{{ 'index.html' | relative_url }}">Home</a></li>
            <!--<li><a href="{{ 'two.html'   | relative_url }}">Contact</a></li>-->
            <li><a href="mailto:jongky@yonsei.ac.kr">Email</a></li>
            <li><a href="https://www.linkedin.com/in/jongyookim/">LinkedIn</a></li>
            <li><a href="https://github.com/jongyookim/">GitHub</a></li>
            <li><a href="http://jongyookim.github.io/data/cv_jongyoo.pdf">CV</a></li>
            </a></li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="container">
<!--<div id="nav">
  <a href="{{ 'index.html' | relative_url }}">CV</a> |
  <a href="{{ 'two.html'   | relative_url }}">Contact</a>
</div>-->

<div id="content">
  {{ content }}
</div>

</div>
<script src="scripts/main.js"></script>
</body>
</html>

