<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
</head>
<body>

<div id="header">
  <!--<span class='big'>{{ site.title }}</span>
  <span class='small'>{{ site.subtitle }}</span>-->
</div>

<div id="layer_fixed">
  <table cellspacing="0" cellpadding="0" style="width:100%; height:100%;">
    <tr>
      <td style="vertical-align: middle; padding-left: 20px; padding-right: 20px;">
        <span class='layer_title'>{{ site.title }}</span>
      </td>

      <td style="vertical-align: middle; text-align: right; padding-left: 20px; padding-right: 20px;">
        <!--<div id="nav">
          <a href="{{ 'index.html' | relative_url }}">Main</a> |
          <a href="{{ 'two.html'   | relative_url }}">Contact</a>
        </div>-->
      </td>
    </tr>
  </table>
</div>

<!--<div id="nav">
  <a href="{{ 'index.html' | relative_url }}">CV</a> |
  <a href="{{ 'two.html'   | relative_url }}">Contact</a>
</div>-->

<div id="content">
  {{ content }}
</div>

<script src="scripts/main.js"></script>
</body>
</html>

